[run]
source = .
branch = True
omit =
    */migrations/*
    */tests/*
    */tests_pkg/*
    */__pycache__/*
    */wsgi.py
    */asgi.py
    */settings.py
    */.venv/*
    */venv/*
    */env/*
    manage.py
    requirements.txt
    templates/*
    */.sonar/*
plugins =
    django_coverage_plugin

[report]
show_missing = True
skip_empty = True
